@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', 'sans-serif';
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 90vw;
    justify-content: space-around;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: rgb(229, 9, 20);
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'poppins', 'sans-serif';
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(71, 71, 71);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}

.btn-red-sm {
    background-color: rgb(229, 9, 20);
    color: white;
}

.btn-red {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.main input {
    background-color: rgba(23, 23, 23, 0.7);
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 70vw;
}


.secImg {
    position: relative;
}

.secImg img {
    position: relative;
    z-index: 10;
    width: 555px;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
    transform: scaleX(0.76);
}

.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 45, 45);
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    cursor: pointer;
}

.faqbox svg {
    filter: invert(1);
}

footer {
    max-width: 60vw;
    margin: auto;
    color: rgba(255, 255, 255, 0.7);
}

.footer {
    padding: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1300px) {
    .footer {
        padding: 14px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.Questions {
    padding: 34px 0;
}


@media screen and (max-width:1300px) {
    .first {
        flex-wrap: wrap;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }
}